@import 'styles/variables';

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;

  box-shadow: 0 1px 15px rgb(27 31 35 / 15%);

  padding: 2rem 0;
  z-index: 99;

  background-color: $WHITE_000;

  h1 {
    font-family: 'BMDOHYEON';
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }
}
